<h1><%= @restaurant.name %>
  <small><%= @restaurant.address %></small>
</h1>
<%= simple_form_for [@restaurant, @review ], remote: true do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.submit %>
<% end %>
<% if @restaurant.reviews.any? %>
  <% @restaurant.reviews.each do |review| %>
    <p id="review-<%= review.id %>"><%= review.content %></p>
  <% end %>
<% else %>
  <p>Be the first to leave a review</p>
<% end %>